.strikethrough {
    text-decoration: line-through
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-item {
    display: flex;
    align-items: center;
}

.todo-item p {
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .todo-item span {
    cursor: pointer;
  }

  .todo-item span {
    cursor: pointer;
  }
  
  .todo-item span:hover {
    color: red;
  }
  
  .todo-item span:first-of-type {
    margin-right: 8px;
  }
  